# Base system
BR2_aarch64=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyAMA0"

# Graphics stack
BR2_PACKAGE_XORG7=y
BR2_PACKAGE_XSERVER_XORG_SERVER=y
BR2_PACKAGE_XAPP_XINIT=y
BR2_PACKAGE_MESA3D=y
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_VIRGL=y
BR2_PACKAGE_DEJAVU=y

# Python3
BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_PYTHON3_TKINTER=y

# Tcl/Tk (needed for _tkinter)
BR2_PACKAGE_TCL=y
BR2_PACKAGE_TK=y

# Linux kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
BR2_LINUX_KERNEL_IMAGE=y

# Root filesystem
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_ROOTFS_OVERLAY="board/myfastboot/rootfs-overlay"
