# Base system
BR2_aarch64=y
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyAMA0"

# Userland
BR2_PACKAGE_FASTFB=y

# Device management via devtmpfs
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_DEVTMPFS=y

# Linux kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
BR2_LINUX_KERNEL_IMAGE=y
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/myfastboot/linux-fb.fragment board/myfastboot/linux-minimal.fragment"

# Root filesystem
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_ROOTFS_OVERLAY="board/myfastboot/rootfs-overlay"
